{% extends 'system/base.html' %}

{% block title %}Рецепты{% endblock title %}



{% block content %}

<div class="content food">
    <div class="left">
        <h5 style="margin:10px">Рецепты по типам:</h5>
        <hr>
        <div style="margin-left:10px">
            {% for cat in category %}
                <p><a href="{% url 'food:food_list_by_category' cat.slug %}">{{ cat.title }}</a></p>
                {% for sub in subcategory %}
                    {% if cat.title == sub.category.title %}
                        <a href="{% url 'food:food_list_by_category' sub.slug %}">{{ sub.title }}</a>
                    {% endif %}
                {% endfor %}
            <hr>
            {% endfor %}
        </div>
    </div>

    <div class="middle">
        <h5 style="margin:10px">Рецепты:

        </h5>
        <br>
        {% block food-content %}

        {% endblock food-content %}
    </div>

    <div class="right">
        {% block food-right-content %}

        <div style="margin:10px">
            <button type="button" onclick="location.href='{% url 'food:food_create' %}'">Добавить рецепт</button>
        </div>

        <div style="margin:10px">
            <h4>Поиск:</h4>
            <form method="post" action="{% url 'food:search' %}">
                {% csrf_token %}
                <input type="search" name="search">
                <button type="submit">Найти</button>
            </form>
        </div>

        <h4 style="margin:10px">Популярные рецепты:</h4>
        <ul>
            {% for food in food_popular %}
                <li style="margin:3px">
                    <img src="{{ food.image.url }}" width="30%" onclick="location.href='{{ food.get_absolute_url }}'">
                    <a style="text-decoration:None" href="{{ food.get_absolute_url }}">{{ food.title | safe|truncatechars:20 }}</a>
                </li>
            {% endfor %}
        </ul>


        {% endblock food-right-content %}
    </div>
</div>
{% endblock content %}