{% extends 'food_site/food_base.html' %}

{% block food-content %}

<div style="float:right; margin-top:-50px">
    {% if not search_item %}
    <form method="post">
        {% csrf_token %}
        <select name="sort">
            <option value="-date_created">По дате</option>
            <option value="title">По названию</option>
            <option value="popular">По популярности</option>
        </select>
        <input type="submit" value="Сортировать">
    </form>
    {% endif %}
</div>


<h4 style="margin-left:30px">Рецепты "{{ category_name }}":</h4>
<br>


{% for item in foods %}
    <div class="food">
        {% if item.image %}
            <img src="{{ item.image.url }}" width="32%" onclick="location.href='{{ item.get_absolute_url }}'">
        {% endif %}
    <div class="item-food">
        <p><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></p>
        <p>{{ item.description | safe|truncatechars:170 }}</p>
        <p style="float:right">Просмотров: {{ item.views }} | Комментариев: {{ item.comments.count }} | Понравилось: {{ item.likes.count }}</p>
    </div>
    </div>
<hr>
{% endfor %}

<div style="margin-top: 30px; margin-left: 150px; margin-bottom:20px">
    {% for page_number in foods.paginator.page_range %}
        <a href="?page={{ p }}" style="text-decoration:None">{{ page_number }}</a>
    {% endfor %}
</div>


{% endblock food-content %}